
.card 
        .headerCard HTML LEARN
            .cmd 
                a(href="/editpost/639e2a160f06637394fa9a91")
                    button Modifier 
                a(href="/delete/639e2a160f06637394fa9a91")
                    button Supprimer
        p Auteur : NABIL KANNANE
        p Date de Creation : Sat Dec 17 2022 21:44:06 GMT+0100 (UTC+01:00)
        p Date de Modification: Sun Dec 18 2022 12:30:40 GMT+0100 (UTC+01:00)
        br
        p Résume 
        br
        p Loreamqsdqsidiqs dqsijd qsopdqsd qsdqsjdqsdiqshdqsni...
            a(href="/details/639e2a160f06637394fa9a91") Lire plus

.card 
        .headerCard zadazdad
            .cmd 
                a(href="/editpost/639ef9f3c9c4138751139be5")
                    button Modifier 
                a(href="/delete/639ef9f3c9c4138751139be5")
                    button Supprimer
        p Auteur : dsqdqsdqs
        p Date de Creation : Sun Dec 18 2022 12:30:59 GMT+0100 (UTC+01:00)
        p Date de Modification: Sun Dec 18 2022 12:30:59 GMT+0100 (UTC+01:00)
        br
        p Résume 
        br
        p dqsdqsdqsd...
            a(href="/details/639ef9f3c9c4138751139be5") Lire plus
