<!-- Liste de tous les posts -->
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MonBlog 
        link(rel="stylesheet", href="./css/style.css")
    body 
        header 
            h1 Notre Blog

        section 
            a(href="/" id="BtnHome") HOME
            a( href="/addpost" id="BtnAdd") +

        include ./includes/posts.pug
